@{
    Layout = null;
}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style>
			* {
				margin: 0px;
				padding: 0px;
				list-style: none;
				text-decoration: none;
			}
			
			.card .heads {
				position: absolute;
				top: 10px;
				height: 60px;
			}
			
			.froms .form-group {
				height: 40px;
				position: absolute;
				top: 50px;
			}
			
			.froms .form-group .form-control {
				position: absolute;
				top: 50px;
			}
			
			 .froms .form-group .btn {
				position: absolute;
				left: 290px;
				top: 50px;
			}
			
			.export {
				position: absolute;
				top: 140px;
				right: 0px;
				overflow: hidden;
			}
			
			.export ul {
				float: right;
				margin-right: 40px;
			}
			
			.export li {
				border: 1px solid #EBEBEB;
				width: 80px;
				height: 30px;
				line-height: 30px;
				text-align: center;
				float: left;
			}
			
			.export li a {
					color: #5A5A5A;
			}
			
			.btnTwo {
				position: absolute;
				top: -60px;
				right: 0px;
				margin-right: 30px;
			}
			
			.customer {
				width: 100% !important;
				margin-bottom: 20px;
				padding-top: 10px;
				background-color: #FFF;
				height: 100px;
			}
			
			.customer-manager h3 {
				width:200px;
				margin-left: 33px;
			}
			
			.customer ul {
				margin-left: 20px;
			}
			
			.tables {
				position: relative;
				top: -65px;
				background-color:#eeeeee30;
			}
			.tables tr td:last-child{
				width: 125px;
			}
			nav .navs {
				position: relative;
				top: -83px;
			}
			.look{
				height:300px;
				margin-top:30px;
				
			}
			.modal-body{
				background-color: #eeeeee30 !important;
				
			}
			.modal-content{
				height:480px !important;
				
			}
			.look .form-group label{
				margin-left:-20px;
			}
			.look .form-group input{
				width: 250px;
			}
			.look .form-group select{
				width: 250px;
			}
			.closed{
				margin-top:0px;
			}
			.cancel{
				color: #F0AD4E !important;
						margin-top: 30px;
			}
			.set{
				border: 1px solid red;
				margin-top: 30px;
			}
		</style>
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/materialdesignicons.min.css" rel="stylesheet">
		<link href="/css/style.min.css" rel="stylesheet">
		<script type="text/javascript" src="/js/jquery.min.js"></script>
		<script type="text/javascript" src="/js/bootstrap.min.js"></script>
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
		<script>
		    $(function () {
		        $("#delete").click(function () {
		            swal("您确定要删除吗！", "该客户数据已添加或更新！", "success");
		        });
		        var pageSize = 5;//每页显示的记录条数
		        var curPage = 0;  //当前页
		        var lastPage; //最后页
		        var direct = 0; //方向
		        var len; //总行数
		        var page;//总页数
		        var begin;
		        var end;

		        $(document).ready(function display() {
		            len = $("#tbs tr").length - 1;//求这个表的总行数（ListData是table的id）
		            if (len < 0) len = 0
		            page = len % pageSize == 0 ? len / pageSize : Math.floor(len / pageSize) + 1;//根据记录条数，计算页数
		            curPage = 1; // 设置当前为第一页
		            displayPage(1);//显示第一页

		            document.getElementById("rowspage").innerHTML = pageSize; // 显示的记录条数
		            document.getElementById("total").innerHTML = len; // 显示数据量
		            document.getElementById("btn0").innerHTML = curPage + "/" + page;// 显示当前多少页

		            $("#FirstPage").click(function firstPage() {
		                curPage = 1;
		                direct = 0;
		                displayPage();
		            });
		            $("#PreviousPage").click(function frontPage() {
		                direct = -1;
		                displayPage();
		            });
		            $("#NextPage").click(function nextPage() {
		                direct = 1;
		                displayPage();
		            });
		            $("#LastPage").click(function lastPage() {
		                curPage = page;
		                direct = 0;
		                displayPage();
		            });
		            $("#btn5").click(function changePage() {
		                curPage = document.getElementById("changePage").value * 1;
		                if (!/^[1-9]\d*$/.test(curPage)) {
		                    alert("请输入正整数！");
		                    return;
		                }
		                if (curPage > page) {
		                    alert("超出数据页面！");
		                    return;
		                }
		                direct = 0;
		                displayPage();
		            });
		        });

		        function displayPage() {
		            if (curPage <= 1 && direct == -1) {
		                direct = 0;
		                alert("已经是第一页了！");
		                return;
		            } else if (curPage >= page && direct == 1) {
		                direct = 0;
		                alert("已经是最后一页了！");
		                return;
		            }
		            lastPage = curPage;

		            // 修复当len=1时，curPage计算得0的bug
		            if (len > pageSize) {
		                curPage = ((curPage + direct + len) % len);
		            } else {
		                curPage = 1;
		            }
		            document.getElementById("btn0").innerHTML = curPage + "/" + page; // 显示当前多少页
		            begin = (curPage - 1) * pageSize + 1;// 起始记录号
		            end = begin + 1 * pageSize - 1;    // 末尾记录号
		            if (end > len) end = len;
		            $("#tbs tr").hide();// 首先,设置这行为隐藏
		            $("#tbs tr").each(function (i) {// 然后，通过条件判断决定本行是否恢复显示
		                if ((i >= begin && i <= end) || i == 0)//显示begin<=x<=end的记录
		                    $(this).show();
		            });
		        }
		        //根据id查询产品信息
		        $(".bianji").click(function () {
		            //获取商品id
		            var product = $(this).next().val();
		            $.ajax({
		                url: "/Management/BasicInformationManagementProductInformationByID",
		                data: { "Product": product },
		                dataType: "json",
		                success: function (data) {
		                    $("#Productsid").val(data.Productsid)
		                    $("#Productsname2").val(data.Productsname)
		                    $("#Productsjieche2").val(data.Productsjieche)
		                    $("#Batch_number2").val(data.Batch_number)
		                    $("#Unit2").val(data.Unit)
		                    $("#Address2").val(data.Address)
		                    $("#Specifications2").val(data.Specifications)
		                    $("#Packaging2").val(data.Packaging)
		                    $("#Batch_number2").val(data.Batch_number)
		                    $("#Titanic2").val(data.Titanic)
		                    $("#Price2").val(data.Price)
		                    $("#SupplierId2").val(data.SupplierId)
		                    $("#Category2").val(data.Category)
		                }
		            })
		        })
		    })
		</script>
	</head>
	<body>
		<div class="container-fluid">
			<div class="customer">
				<div class="customer-manager">
					<h3>产品信息</h3>
				</div>
				<ul class="breadcrumb">
					<li>
						<a href="javascript:;">首页</a>
					</li>
					<li>
						<a href="javascript:;">基础信息</a>
					</li>
					<li class="active">产品信息</li>
				</ul>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="card heads">
						<div class="card-header ">
							<h4>产品资料</h4>
							<div class="card-toolbar clearfix ">
								<div class="toolbar-btn-action btnTwo">
									<a id="delete" class="btn btn-danger" href="#!"><i class="mdi mdi-window-close"></i> 删除</a>
									<a class="btn btn-primary m-r-5" href="#!"   data-toggle="modal" data-target="#myModal"><i class="mdi mdi-plus"></i> 新增</a>
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="froms">
								<form action="~/Management/BasicInformationManagementProductInformationLike" role="form">
									<div class="form-group">
										<input type="text" class="form-control" name="tj" id="name" placeholder="请输入产品名称">
									</div>
									<div class="form-group">
										<button type="submit" class="fa fa-search btn btn-primary">搜索</button>
									</div>
								</form>
							</div>
							
							<div class="table-responsive">
								<table id="tbs" class="table table-bordered tables">
									<thead>
										<tr>
											<th><input type="checkbox" name="ck"></th>
											<th>产品编号</th>
											<th>产品名称</th>
											<th>产地</th>
											<th>单位</th>
											<th>规格</th>
											<th>批号</th>
											<th>操作</th>
										</tr>
									</thead>
									<tbody>
                                        @foreach (var item in ViewBag.Productlist)
                                        {
                                            <tr>
											<td><input type="checkbox" name="ck"></td>
											<td>@item.Productsid</td>
											<td>@item.Productsname</td>
											<td>@item.Address</td>
											<td>@item.Unit</td>
											<td>@item.Specifications</td>
											<td>@item.Batch_number</td>
											<td>
												<div class="btn-group">
													<button type="button" class="fa fa-edit btn btn-cyan bianji"  data-toggle="modal" data-target="#myModa2">编辑</button>
                                                    <input type="hidden" value="@item.Productsid" />
												</div>
											</td>
										</tr>
                                        }
										
									</tbody>
								</table>
								 <div style="display:block;font-size:17px;">
                <div style="margin-left:10px;margin-top: 3px; float: left; ">
                    共 &nbsp;<a id="total" style="color:#337ab7;"></a> &nbsp;条数据,&nbsp;
                    每页显示 &nbsp;<a id="rowspage" style="color:#337ab7 ;"></a> &nbsp;条数据, &nbsp;
                    共 &nbsp;<a id="btn0" style="color:#337ab7;"></a>&nbsp;&nbsp;页 &nbsp;
                </div>
                    <a href="#" id="FirstPage">&nbsp;<img src="/images/上一页.png" /></a>
                    <a href="#" id="PreviousPage"> &nbsp;<img src="/images/上一页.png" /></a>
                    <a href="#" id="NextPage"> &nbsp;<img src="/images/下一页.png" /></a>
                    <a href="#" id="LastPage"> &nbsp;<img src="/images/尾页.png" /></a>
                    <a> &nbsp;第 </a>
                    <input id="changePage" type="text" size="1" style="text-align: center;" autocomplete="off"/>
                    <a>页 </a>
                    <a href="#" id="btn5"> &nbsp;GO</a>
               </div>
							</div>

						</div>
					</div>
				</div>

			</div>
<!--
        	作者：offline
        	时间：2019-05-16
        	描述：添加
        -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header detail">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h3 class="modal-title" id="myModalLabel" style="text-align: center;">
					添加产品资料
				</h3>
			</div>
			<div class="modal-body">
				
				<div class="look">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
					<form class="form-horizontal" action="~/Management/BasicInformationManagementProductInformationAdd" method="post" role="form">
					<div class="row">
						<div class="col-sm-4">
							<div class="form-group">
										<label class="col-lg-4 control-label">产品名称：</label>
										<div class="col-lg-8">
											<input class="form-control" id="Productsname" name="Productsname" type="text" placeholder="产品名称">
										</div>
									</div>
									<div class="form-group">
										<label class="col-lg-4 control-label">产地：</label>
										<div class="col-lg-8">
											<input class="form-control" id="Address" name="Address" type="text" placeholder="产地">
										</div>
									</div>
									<div class="form-group">
										<label class="col-lg-4 control-label">批号：</label>
										<div class="col-lg-8">
											<input class="form-control" id="Batch_number" name="Batch_number" type="text" placeholder="批号">
										</div>
									</div>
									<div class="form-group">
										<label class="col-lg-4 control-label">批文号：</label>
										<div class="col-lg-8">
											<input class="form-control" id="Titanic" name="Titanic" type="text" placeholder="批文号">
										</div>
									</div>
						</div>
							<div class="col-sm-4">
							<div class="form-group">
										<label class="col-lg-4 control-label">产品简称：</label>
										<div class="col-lg-8">
											<input class="form-control" id="Productsjieche" name="Productsjieche" type="text" placeholder="产品简称">
										</div>
									</div>
									<div class="form-group">
										<label class="col-lg-4 control-label">规格：</label>
										<div class="col-lg-8">
											<input class="form-control" id="Specifications" name="Specifications" type="text" placeholder="规格">
										</div>
									</div>
									<div class="form-group">
										<label class="col-lg-4 control-label">单位：</label>
										<div class="col-lg-8">
											<input class="form-control" id="Unit" name="Unit" type="text" placeholder="单位">
										</div>
									</div>
									<div class="form-group">
										<label class="col-lg-4 control-label">包装：</label>
										<div class="col-lg-8">
											<input class="form-control" id="Packaging" name="Packaging" type="text" placeholder="包装">
										</div>
									</div>
						</div>
								<div class="col-sm-4">
							<div class="form-group">
										<label class="col-lg-4 control-label">产商：</label>
										<div class="col-lg-8">
										<input class="form-control" id="SupplierId" name="SupplierId" type="text" placeholder="产商">
										</div>
									</div>
									<div class="form-group">
										<label class="col-lg-4 control-label">单价：</label>
										<div class="col-lg-8">
											<input class="form-control" id="Price" name="Price" type="text" placeholder="单价">
										</div>
									</div>
									<div class="form-group">
										<label class="col-lg-4 control-label">类别：</label>
										<div class="col-lg-8">
										<select class="form-control" name="Category" id="Category">
                                            <option value="0">---请选择---</option>
                                            @foreach (var item in ViewBag.Lven)
                                            {
                                                <option value="@item.Invenid">@item.Invenname</option>
                                            }
                                    </select>
										</div>
									</div>
						</div>
					<div class="row btnn">
						<div class="col-sm-9">							
						 <div class="form-group">
    <div class="col-sm-offset-2 col-sm-2">
      <button type="submit" class="btn btn-default cancel">取消</button>
    </div>
  </div>
						</div>
						<div class="col-sm-3">
							 <div class="form-group">
    <div class=" col-sm-2">
      <button type="submit" class="btn btn-primary set">提交</button>
    </div>  </div>
						</div>
					</div>
                        </div>
					</form>
				</div>
			</div>
		</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default closed" data-dismiss="modal">关闭
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div> 
		</div>
		
		
		<!--
        	作者：offline
        	时间：2019-05-16
        	描述：编辑
        -->
        <div class="modal fade" id="myModa2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header detail">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h3 class="modal-title" id="myModalLabel" style="text-align: center;">
					编辑商品资料
				</h3>
			</div>
			<div class="modal-body">
				
				<div class="look">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
					<form class="form-horizontal" action="~/Management/BasicInformationManagementProductInformationUpdate" method="post" role="form">
					<div class="row">
						<div class="col-sm-4">
							<div class="form-group">
										<label class="col-lg-4 control-label">产品名称：</label>
										<div class="col-lg-8">
                                            <input type="hidden" id="Productsid" name="Productsid" />
											<input class="form-control" id="Productsname2" name="Productsname" type="text" placeholder="产品名称">
										</div>
									</div>
									<div class="form-group">
										<label class="col-lg-4 control-label">产地：</label>
										<div class="col-lg-8">
											<input class="form-control" id="Address2" name="Address" type="text" placeholder="产地">
										</div>
									</div>
									<div class="form-group">
										<label class="col-lg-4 control-label">批号：</label>
										<div class="col-lg-8">
											<input class="form-control" id="Batch_number2" name="Batch_number" type="text" placeholder="批号">
										</div>
									</div>
									<div class="form-group">
										<label class="col-lg-4 control-label">批文号：</label>
										<div class="col-lg-8">
											<input class="form-control" id="Titanic2" name="Titanic" type="text" placeholder="批文号">
										</div>
									</div>
						</div>
							<div class="col-sm-4">
							<div class="form-group">
										<label class="col-lg-4 control-label">产品简称：</label>
										<div class="col-lg-8">
											<input class="form-control" id="Productsjieche2" name="Productsjieche" type="text" placeholder="产品简称">
										</div>
									</div>
									<div class="form-group">
										<label class="col-lg-4 control-label">规格：</label>
										<div class="col-lg-8">
											<input class="form-control" id="Specifications2" name="Specifications" type="text" placeholder="规格">
										</div>
									</div>
									<div class="form-group">
										<label class="col-lg-4 control-label">单位：</label>
										<div class="col-lg-8">
											<input class="form-control" id="Unit2" name="Unit" type="text" placeholder="单位">
										</div>
									</div>
									<div class="form-group">
										<label class="col-lg-4 control-label">包装：</label>
										<div class="col-lg-8">
											<input class="form-control" id="Packaging2" name="Packaging" type="text" placeholder="包装">
										</div>
									</div>
						</div>
								<div class="col-sm-4">
							<div class="form-group">
										<label class="col-lg-4 control-label">产商：</label>
										<div class="col-lg-8">
										<input class="form-control" id="SupplierId2" name="SupplierId" type="text" placeholder="产商">
										</div>
									</div>
									<div class="form-group">
										<label class="col-lg-4 control-label">单价：</label>
										<div class="col-lg-8">
											<input class="form-control" id="Price2" name="Price" type="text" placeholder="单价">
										</div>
									</div>
									<div class="form-group">
										<label class="col-lg-4 control-label">类别：</label>
										<div class="col-lg-8">
										<select class="form-control" name="Category" id="Category2">
                                            <option value="0">---请选择---</option>
                                            @foreach (var item in ViewBag.Lven)
                                            {
                                                <option value="@item.Invenid">@item.Invenname</option>
                                            }
                                    </select>
										</div>
									</div>
						</div>
					<div class="row btnn">
						<div class="col-sm-9">							
						 <div class="form-group">
    <div class="col-sm-offset-2 col-sm-2">
      <button type="submit" class="btn btn-default cancel">取消</button>
    </div>
  </div>
						</div>
						<div class="col-sm-3">
							 <div class="form-group">
    <div class=" col-sm-2">
      <button type="submit" class="btn btn-primary set">提交</button>
    </div>  </div>
						</div>
					</div>
                        </div>
					</form>
				</div>
			</div>
		</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default closed" data-dismiss="modal">关闭
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div> 
	</body>
</html>

