@{
    Layout = null;
}

<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<style>
			* {
				margin: 0px;
				padding: 0px;
				list-style: none;
				text-decoration: none;
			}
			
			.customer {
				margin-bottom: 20px;
				padding-top: 10px;
				background-color: #FFF;
				height: 100px;
			}
			
			.customer-manager h3 {
				width:200px;
				margin-left: 33px;
			}
			
			.customer ul {
				margin-left: 20px;
			}
		.btnTwo {
				position: absolute;
				top: -60px;
				right: 0px;
			}
			.export {
				position: absolute;
				top: 140px;
				right: 0px;
				overflow: hidden;
			}
			
			.export ul {
				float: right;
				margin-right: 40px;
			}
			
			.export li {
				border: 1px solid #EBEBEB;
				width: 80px;
				height: 30px;
				line-height: 30px;
				text-align: center;
				float: left;
			}
			
			.export li a {
					color: #5A5A5A;
			}
			.tables{
				margin: 0px auto;
				background-color:#eeeeee30;	
				margin-top: -150px;
			/*position: absolute;
			top:150px;*/
			}
			.tables tr td:last-child {
				width: 105px;
			}
			.fromsed .form-group {
				height: 40px;
				top:70px;
			}
			.fromsed .form-group input {
				position: relative;
				top:20px
			}
			.fromsed .form-group .btn {
				position: absolute;
				left:359px;
				top:114px;
			}
			.datelength{
				width: 320px;
			}
			/*模态框*/
			.consize{	
				height:765px !important;	
				margin: auto;
			}
			.consize1{	
				height:675px !important;	
				margin: auto;
			}
			.consize2{	
				height:575px !important;	
				margin: auto;
			}
			.modal-body{
				background-color: #eeeeee30 !important;
				
			}
			.drops{
				position: absolute;
				top:47px;
				left:330px;
			}
			.modal-ctainer .Desc{
					position: relative;
					top: -5px;
			}
			.modal-ctainer .btn-drop{
				height:18px;
				background-color: #FFFFFF;
				border: 1px solid #E7EAEC;
			}
			.btnfoot{
				position: relative;
				left: -10px;
				top: 7px;
			}
			.cancel{
				color: #F0AD4E !important;
				position: relative;
				top:12px;
			}
			.set{
				position: relative;
				top:12px;
			} {
	.col-lg-1,
	.col-lg-10,
	.col-lg-11,
	.col-lg-12,
	.col-lg-2,
	.col-lg-3,
	.col-lg-4,
	.col-lg-5,
	.col-lg-6,
	.col-lg-7,
	.col-lg-8,
	.col-lg-9
		float:none !important;
	}
		</style>
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="/css/materialdesignicons.min.css" rel="stylesheet">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="~/css/sweetalert.css" rel="stylesheet" />
		<!--时间选择插件-->
<link rel="stylesheet" href="/js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css">
		<!--日期选择插件-->
<link rel="stylesheet" href="/js/bootstrap-datepicker/bootstrap-datepicker3.min.css">
		<link href="/css/style.min.css" rel="stylesheet">
<script type="text/javascript" src="/js/jquery.min.js"></script>
		<script type="text/javascript" src="/js/bootstrap.min.js"></script>
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>		
<script type="text/javascript" src="/js/perfect-scrollbar.min.js"></script>
<!--时间选择插件-->
<script src="/js/bootstrap-datetimepicker/moment.min.js"></script>
<script src="/js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script src="/js/bootstrap-datetimepicker/locale/zh-cn.js"></script>
<!--日期选择插件-->
<script src="/js/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<script src="/js/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<script type="text/javascript" src="/js/main.min.js"></script>
<script src="~/Content/sweetalert/sweetalert.min.js"></script>
		<script>
		    $(function () {
		        $("#delete").click(function () {
		            swal("您确定要删除吗！", "该客户数据已删除！", "success");
		        });
		        var pageSize = 5;//每页显示的记录条数
		        var curPage = 0;  //当前页
		        var lastPage; //最后页
		        var direct = 0; //方向
		        var len; //总行数
		        var page;//总页数
		        var begin;
		        var end;

		        $(document).ready(function display() {
		            len = $("#cks tr").length - 1;//求这个表的总行数（ListData是table的id）
		            if (len < 0) len = 0
		            page = len % pageSize == 0 ? len / pageSize : Math.floor(len / pageSize) + 1;//根据记录条数，计算页数
		            curPage = 1; // 设置当前为第一页
		            displayPage(1);//显示第一页

		            document.getElementById("rowspage").innerHTML = pageSize; // 显示的记录条数
		            document.getElementById("total").innerHTML = len; // 显示数据量
		            document.getElementById("btn0").innerHTML = curPage + "/" + page;// 显示当前多少页

		            $("#FirstPage").click(function firstPage() {
		                curPage = 1;
		                direct = 0;
		                displayPage();
		            });
		            $("#PreviousPage").click(function frontPage() {
		                direct = -1;
		                displayPage();
		            });
		            $("#NextPage").click(function nextPage() {
		                direct = 1;
		                displayPage();
		            });
		            $("#LastPage").click(function lastPage() {
		                curPage = page;
		                direct = 0;
		                displayPage();
		            });
		            $("#btn5").click(function changePage() {
		                curPage = document.getElementById("changePage").value * 1;
		                if (!/^[1-9]\d*$/.test(curPage)) {
		                    alert("请输入正整数！");
		                    return;
		                }
		                if (curPage > page) {
		                    alert("超出数据页面！");
		                    return;
		                }
		                direct = 0;
		                displayPage();
		            });
		        });

		        function displayPage() {
		            if (curPage <= 1 && direct == -1) {
		                direct = 0;
		                alert("已经是第一页了！");
		                return;
		            } else if (curPage >= page && direct == 1) {
		                direct = 0;
		                alert("已经是最后一页了！");
		                return;
		            }
		            lastPage = curPage;

		            // 修复当len=1时，curPage计算得0的bug
		            if (len > pageSize) {
		                curPage = ((curPage + direct + len) % len);
		            } else {
		                curPage = 1;
		            }
		            document.getElementById("btn0").innerHTML = curPage + "/" + page; // 显示当前多少页
		            begin = (curPage - 1) * pageSize + 1;// 起始记录号
		            end = begin + 1 * pageSize - 1;    // 末尾记录号
		            if (end > len) end = len;
		            $("#cks tr").hide();// 首先,设置这行为隐藏
		            $("#cks tr").each(function (i) {// 然后，通过条件判断决定本行是否恢复显示
		                if ((i >= begin && i <= end) || i == 0)//显示begin<=x<=end的记录
		                    $(this).show();
		            });
		        }
		        //日期控件
		        $("#date input").datepicker({
		            language: "zh-CN",

		        })
		        $("#date2 input").datepicker({
		            language: "zh-CN",

		        })
		        //操作
		        $(".bianji").click(function () {
		            //获取状态信息
		            var texts = $(this).text();
		            //获取采购单编号
		            var purchasid = $(this).next().val();
		            //状态信息为时质检时跳转页面并传递
		            if (texts == "质检") {
                        //跳转到质检页面
		                window.location.href = "QualityManagementMaterialsToBeInspected";
		            }
		            if (texts == "付款") {
		                //查询付款单信息
		                $.ajax({
		                    url: "/Management/PurchasingManagerPurchaseOrderManagerbrrowing",
		                    data: { "Purchasid": purchasid },
		                    dataType: "json",
		                    success: function (data) {
		                        $("#Purchaseid").val(data.purchasid)
		                        $("#Product_name").val(data.goodsname)
		                        $("#Purchase_returnsnumber").val(data.purchaasnumber)
		                        $("#Purchase_returnsprice").val(data.amountPrice)
		                        $("#Price").val(data.Price)
		                        $("#Amount_payable").val(data.amountPrice)
		                        $("#Real_pay").val(data.readprice)
		                        $("#Unpaid_amount").val(data.unpidprice)
		                    }
		                })
		            }
		            if (texts == "退货") {
		                //查询货单信息
		                $.ajax({
		                    url: "/Management/PurchasingManagerPurchaseOrderManagerReurnByid",
		                    data: { "Purchasid": purchasid },
		                    dataType: "json",
		                    success: function (data) {
		                        $("#Purchase_orderid").val(data.purchasid)
		                        $("#Product_name2").val(data.goodsname)
		                        $("#Prices").val(data.price)
		                        
		                    }
		                })
		            }
		            if (texts == "入库") {
		                //跳转到入库页面
		                window.location.href = "MaterialInventoryManagerAddMaterialReceipt";

		            }
		        })
		        //根据商品退货数量计算商品退货金额
		        $("#Purchase_returnsnumber2").blur(function () {
		            //获取商品退货数
		            var number=$(this).val();
		            //获取商品单价
		            var price = $("#Prices").val();
		            //计算退货金额
		            var sum = number * price;
		            //赋值
		            $("#Purchase_returnsprice2").val(sum);
		        })
		    })
		    $(document).ready(function () {
		        //删除按钮
		        $('#delete').click(function () {
		            swal({
		                title: "你确定要删除吗?",
		                text: "删除是无法恢复数据的!",
		                type: "warning",
		                showCancelButton: true,
		                confirmButtonColor: "#DD6B55",
		                confirmButtonText: "确定!",
		                closeOnConfirm: false,
		                cancelButtonText: "取消"
		            }, function () {
		                var rows = document.getElementsByName("ck");
		                var parm = "";
		                $.each(rows, function (i, ck) {
		                    var value = $(ck);
		                    var checked = value.prop("checked");
		                    if (checked) {
		                        if (i == 0)
		                            parm += "id=" + value.parent().next().text(); //ck.parentNode.nextSibling.innerText;
		                        else
		                            parm += "&id=" + value.parent().next().text();
		                    }
		                });
		                if (parm == "") {
		                    swal("操作失败", "至少选择一个信息!", "error");
		                    return;
		                }
		                $.ajax({
		                    type: "post",
		                    url: '/Management/PurchasingManagerPurchaseOrderManagerDelete',//后台删除方法
		                    data: parm,
		                    dataType: "json",
		                    cache: false,
		                    success: function (data) {
		                        if (data.result == "success") {
		                            swal("操作成功!", "已成功删除数据！", "success");
		                            //$(".dataTables-example").dataTable().fnDraw(false);//删除当前页面
		                            window.location.reload();//删除当前页面
		                        }
		                    },
		                    error: function () {
		                        swal("操作失败", "下单客户不能删除操作!", "error");
		                    }
		                });
		            });
		        });
		    })
		    //全选复选框
		    function allCheck(obj) {
		        var ck = document.getElementsByName("ck");
		        for (var i = 0; i < ck.length; i++) {
		            ck[i].checked = obj.checked;
		        }
		    }
	</script>
	</head>

	<body>
		<div class="container-fluid">
			<div class="customer">
				<div class="customer-manager">
					<h3>采购单管理</h3>
				</div>
				<ul class="breadcrumb">
					<li>
						<a href="javascript:;">首页</a>
					</li>
					<li>
						<a href="javascript:;">采购管理</a>
					</li>
					<li class="active">采购单管理</li>
				</ul>
			</div>
			<!--采购单详情-->
			<div class="row">
							<div class="col-lg-12">
								<div class="card heads">
									<div class="card-header">
										<h4>采购单详情</h4>	
										<div class="card-toolbar clearfix ">
								<div class="toolbar-btn-action btnTwo">
									<a id="delete" class="btn btn-danger del" href="#!"><i class="mdi mdi-window-close"></i> 删除</a>
								</div>
							</div>
									</div>
									<div class="card-body">
						<div class="fromsed">
								<form action="~/Management/PurchasingManagerPurchaseOrderManagerLike" role="form">
									<div class="form-group">
										<input type="text" class="form-control" id="name" name="tj" placeholder="请输入采购商品名称">
									</div>
									<div class="form-group">
										<button type="submit" class="fa fa-search btn btn-primary">搜索</button>
									</div>
							
						
							
							<div class="table-responsive">
								<table id="cks" class="table table-bordered tables">
									<thead>
										<tr>
											<th><input type="checkbox" onchange="allCheck(this)"></th>
											<th>采购单编号</th>
											<th>商品名称</th>
											<th>采购数量</th>
											<th>采购日期</th>
											<th>状态</th>
											<th>操作</th>
										</tr>
									</thead>
									<tbody>
										
                                        @foreach (var item in ViewBag.purchas)
                                        {
                                            <tr>	
											<td><input type="checkbox" name="ck"></td>	
											<td>@item.Purchase_orderid</td>
											<td>@item.Goods.Goodsname</td>
											<td>@item.Procurement_number</td>
											<td>@item.Purchase_date</td>
											<td>@item.State</td>
                                            @{
                                            var bg = @item.State == "待质检" ? "质检" : (@item.State == "待付款" ? "付款" : (@item.State == "待退货" ? "退货" : (@item.State == "待入库" ? "入库" : "")));
                                                var target="00";
                                                if (bg == "付款")
                                                    target="myModal1";
                                                
                                                if(bg=="退货")
                                                    target = "myModal2";
                                             }
											<td>
												<div class="btn-group oprate">
													<button type="button" class="btn btn-cyan bianji" id="btn1"  data-toggle="modal" data-target="#@target">@bg</button>
                                                    <input type="hidden" value="@item.Purchase_orderid" />
												</div>
											</td>
										</tr>
                                        }
										
									</tbody>
								</table>
							<div style="display:block;font-size:17px;">
                <div style="margin-left:10px;margin-top: 3px; float: left; ">
                    共 &nbsp;<a id="total" style="color:#337ab7;"></a> &nbsp;条数据,&nbsp;
                    每页显示 &nbsp;<a id="rowspage" style="color:#337ab7 ;"></a> &nbsp;条数据, &nbsp;
                    共 &nbsp;<a id="btn0" style="color:#337ab7;"></a>&nbsp;&nbsp;页 &nbsp;
                </div>
                    <a href="#" id="FirstPage">&nbsp;<img src="/images/上一页.png" /></a>
                    <a href="#" id="PreviousPage"> &nbsp;<img src="/images/上一页.png" /></a>
                    <a href="#" id="NextPage"> &nbsp;<img src="/images/下一页.png" /></a>
                    <a href="#" id="LastPage"> &nbsp;<img src="/images/尾页.png" /></a>
                    <a> &nbsp;第 </a>
                    <input id="changePage" type="text" size="1" style="text-align: center;" autocomplete="off"/>
                    <a>页 </a>
                    <a href="#" id="btn5"> &nbsp;GO</a>
               </div>
							</div>
							
								</form>
								</div>
							</div>
					</div>
		</div>
		</div>
<!-- /.modal -->
@*</div>*@	
		
<!--
	作者：offline
	时间：2019-06-03
	描述：付款
-->
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content consize1">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel" style="text-align: center;">采购结款单</h4>
            </div>
            <div class="modal-body contents">
            	<!--采购结款单-->
			<div class="row">
							<div class="col-lg-12">
								<div class="">
									<div class="card-body">
							<div class="froms">
								<form class="form-horizontal" action="~/Management/PurchasingManagerPurchaseOrderManagerAdd" method="post" role="form">
  <div class="form-group"> 
    @*<label for="firstname" class="col-sm-2 control-label">结款编号：</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="lastname" placeholder="结款编号">
    </div>*@
    <label for="firstname" class="col-sm-2 control-label">结款日期：</label>
     <div class="col-sm-3">
    	<div class="input-group lyear-layout-sidebar-scroll  datelength" id="date">
 @*<input class="form-control js-datepicker m-b-10" type="text" id="example-datepicker" name="example-datepicker" placeholder="请输入日期" value="" data-date-format="yyyy-mm-dd" />*@
<input type="text" id="Brrowingdate" class="form-control" name="Brrowingdate" data-date-format="yyyy-mm-dd" />
</div>
						</div>   
  </div>
  <div class="form-group">
    <label for="lastname" class="col-sm-2 control-label">采购编号：</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="Purchaseid" name="Purchaseid" readonly="readonly">
    </div>
    <label for="lastname" class="col-sm-2 control-label">商品名称：</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="Product_name" name="Product_name" readonly="readonly">
    </div>
  </div>
  <div class="form-group">
    
    <label for="firstname" class="col-sm-2 control-label">采购数量：</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="Purchase_returnsnumber" name="Purchase_returnsnumber" readonly="readonly">
    </div>
    <label for="firstname" class="col-sm-2 control-label">采购金额：</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="Purchase_returnsprice" name="Purchase_returnsprice" readonly="readonly">
    </div>
  </div>
    <div class="form-group">
    
    <label for="firstname" class="col-sm-2 control-label">商品单价：</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="Price" name="Price" readonly="readonly">
    </div>
    <label for="firstname" class="col-sm-2 control-label">应付金额：</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="Amount_payable" name="Amount_payable" readonly="readonly">
    </div>
  </div>
    <div class="form-group">
    
    <label for="firstname" class="col-sm-2 control-label">实付金额：</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="Real_pay" name="Real_pay" readonly="readonly">
    </div>
    <label for="firstname" class="col-sm-2 control-label">未付金额：</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="Unpaid_amount" name="Unpaid_amount" readonly="readonly">
    </div>
  </div>
    <div class="form-group">
    
    <label for="firstname" class="col-sm-2 control-label">操作人：</label>
    <div class="col-sm-3">
     <input type="text" class="form-control" id="" value="@Session["usrName"]" readonly="readonly">
        <input type="hidden" name="Usersid" value="@int.Parse(Session["uid"].ToString())" />
    </div>
    <label for="firstname" class="col-sm-2 control-label">经手人：</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="Handlers" name="Handlers" placeholder="经手人">
    </div>
  </div>
  <div class="form-group ">
  	<label for="firstname" class="col-sm-2 control-label">备注：</label>
    <div class="col-sm-3">
       <textarea class="form-control Tips" id="Tips" rows="3"></textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-2">
      <button type="submit" class="btn btn-default cancel">取消</button>
    </div>
    <div class="col-sm-offset-2 col-sm-2">
      <button type="submit" class="btn btn-primary set">提交</button>
    </div>
  </div>
</form>	
								</div>
							</div>
								</div>
						</div>	
						</div>
		
						
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btnfoot">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!--
	作者：offline
	时间：2019-06-03
	描述：退货
-->
		
	<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content consize2">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel" style="text-align: center;">采购退货单</h4>
            </div>
            <div class="modal-body contents">
            	<!--采购退货单-->
			<div class="row">
							<div class="col-lg-12">
								<div class="">
									<div class="card-body">
							<div class="froms">
								<form class="form-horizontal" action="~/Management/PurchasingManagerPurchaseOrderManagerReturn" method="post" role="form">
  <div class="form-group">
    @*<label for="firstname" class="col-sm-2 control-label">退货编号：</label>
   <div class="col-sm-3">
      <input type="text" class="form-control" id="lastname" placeholder="退货编号">
    </div>*@
    
    <label for="firstname" class="col-sm-2 control-label">退货日期：</label>
    <div class="col-sm-3">
    <div class="input-group lyear-layout-sidebar-scroll  datelength" id="date2">
 @*<input class="form-control js-datepicker m-b-10" type="text" id="example-datepicker" name="example-datepicker" placeholder="请输入日期" value="" data-date-format="yyyy-mm-dd" />*@
        <input type="text" id="Purchase_returndate" class="form-control" name="Purchase_returndate" data-date-format="yyyy-mm-dd" />
</div>
    </div>
    
  </div>
  <div class="form-group">
    <label for="lastname" class="col-sm-2 control-label">采购编号：</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="Purchase_orderid" name="Purchase_orderid" readonly="readonly">
    </div>
    <label for="lastname" class="col-sm-2 control-label">商品名称：</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="Product_name2" name="Product_name" readonly="readonly">
        @*商品单价*@
        <input type="hidden" id="Prices" />
    </div>
  </div>
    <div class="form-group">
    <label for="lastname" class="col-sm-2 control-label">退货数量：</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="Purchase_returnsnumber2" name="Purchase_returnsnumber" placeholder="请输入退货数量">
    </div>
    <label for="lastname" class="col-sm-2 control-label">退货金额：</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="Purchase_returnsprice2" name="Purchase_returnsprice" readonly="readonly">
    </div>
  </div>
  <div class="form-group">
    
    <label for="firstname" class="col-sm-2 control-label">操作人：</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="Usersid2" name="Usersid" placeholder="操作人">
    </div>
    <label for="firstname" class="col-sm-2 control-label">经手人：</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="Handlers2" name="Handlers" placeholder="经手人">
    </div>
  </div>
  @*<div class="form-group ">
  	<label for="firstname" class="col-sm-2 control-label">采购数量：</label>
    <div class="col-sm-3">
    <textarea class="form-control" rows="3"></textarea>
    </div>
  </div>*@
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-2">
      <button type="submit" class="btn btn-default cancel">取消</button>
    </div>
    <div class="col-sm-offset-2 col-sm-2">
      <button type="submit" class="btn btn-primary set">提交</button>
    </div>
  </div>
</form>	
								</div>
							</div>
								</div>
						</div>	
						</div>
		
						
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default closed btnfoot">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>	
		
		
		
	</body>

</html>
