@{
    Layout = null;
}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style>
			* {
				margin: 0px;
				padding: 0px;
				list-style: none;
				text-decoration: none;
			}
	.col-lg-1,
	.col-lg-10,
	.col-lg-11,
	.col-lg-12,
	.col-lg-2,
	.col-lg-3,
	.col-lg-4,
	.col-lg-5,
	.col-lg-6,
	.col-lg-7,
	.col-lg-8,
	.col-lg-9 {
		float: left;
	}
			.card .heads {
				position: absolute;
				top: 10px;
				height: 60px;
			}
			
			.form {			
			overflow: hidden;
			width: 1252px !important;
			}
			.form .detail-left{
			margin-top:30px;
			width:610px;
			margin-left: 30px;
		}
		.form .detail-right{
			width:610px;
			margin-top:30px;
		}
		.btnTwo {
				position: absolute;
				top: -60px;
				right: 0px;
				margin-right: 30px;
			}
		.froms .form-group {
				height: 40px;
				position: absolute;
				top: 50px;
			}
			
			.froms .form-group .form-control {
				position: absolute;
				top: 50px;
			}
			
			.froms .form-group .btn {
				position: absolute;
				left: 290px;
				top: 50px;
			}
			
			.export {
				position: absolute;
				top: 140px;
				right: 0px;
				overflow: hidden;
			}
			
			.export ul {
				float: right;
				margin-right: 40px;
			}
			
			.export li {
				border: 1px solid #EBEBEB;
				width: 80px;
				height: 30px;
				line-height: 30px;
				text-align: center;
				float: left;
			}
			
			.export li a {
					color: #5A5A5A;
			}
			
			.btnTwo {
				position: absolute;
				top: -60px;
				right: 0px;
				margin-right: 30px;
			}
			
			.customer {
				width: 100% !important;
				margin-bottom: 20px;
				padding-top: 10px;
				background-color: #FFF;
				height: 100px;
			}
			
			.customer-manager h3 {
				width:200px;
				margin-left: 33px;
			}
			
			.customer ul {
				margin-left: 20px;
			}
			.tables {
				position: relative;
				top: -65px;
				background-color:#eeeeee30;
			}
			.tables tr td:last-child {
				width: 125px;
			}
			nav .navs {
				position: relative;
				top: -83px;
			}
			.Contet{
					height: auto !important;
			}
			.datelength{
				width: 320px;
				}
			.btnGroups{
				width: 100%;
				overflow: hidden;
			position: relative;
			top:15px;
			}
			.cancel{
				color: #F0AD4E !important;
			}
		</style>
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="~/css/sweetalert.css" rel="stylesheet" />
			<!--时间选择插件-->
<link rel="stylesheet" href="/js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css">
		<!--日期选择插件-->
<link rel="stylesheet" href="/js/bootstrap-datepicker/bootstrap-datepicker3.min.css">
		<link href="/css/style.min.css" rel="stylesheet">
<script type="text/javascript" src="/js/jquery.min.js"></script>
		<script type="text/javascript" src="/js/bootstrap.min.js"></script>
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>		
<script type="text/javascript" src="/js/perfect-scrollbar.min.js"></script>
<!--时间选择插件-->
<script src="/js/bootstrap-datetimepicker/moment.min.js"></script>
<script src="/js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script src="/js/bootstrap-datetimepicker/locale/zh-cn.js"></script>
<!--日期选择插件-->
<script src="/js/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<script src="/js/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<script type="text/javascript" src="/js/main.min.js"></script>
        <script src="~/Content/sweetalert/sweetalert.min.js"></script>
		<script>
		    $(function () {
		        $("#delete").click(function () {
		            swal("您确定要删除吗！", "该客户数据已添加或更新！", "success");
		        });
		        var pageSize = 5;//每页显示的记录条数
		        var curPage = 0;  //当前页
		        var lastPage; //最后页
		        var direct = 0; //方向
		        var len; //总行数
		        var page;//总页数
		        var begin;
		        var end;

		        $(document).ready(function display() {
		            len = $("#cks tr").length - 1;//求这个表的总行数（ListData是table的id）
		            if (len < 0) len = 0
		            page = len % pageSize == 0 ? len / pageSize : Math.floor(len / pageSize) + 1;//根据记录条数，计算页数
		            curPage = 1; // 设置当前为第一页
		            displayPage(1);//显示第一页

		            document.getElementById("rowspage").innerHTML = pageSize; // 显示的记录条数
		            document.getElementById("total").innerHTML = len; // 显示数据量
		            document.getElementById("btn0").innerHTML = curPage + "/" + page;// 显示当前多少页

		            $("#FirstPage").click(function firstPage() {
		                curPage = 1;
		                direct = 0;
		                displayPage();
		            });
		            $("#PreviousPage").click(function frontPage() {
		                direct = -1;
		                displayPage();
		            });
		            $("#NextPage").click(function nextPage() {
		                direct = 1;
		                displayPage();
		            });
		            $("#LastPage").click(function lastPage() {
		                curPage = page;
		                direct = 0;
		                displayPage();
		            });
		            $("#btn5").click(function changePage() {
		                curPage = document.getElementById("changePage").value * 1;
		                if (!/^[1-9]\d*$/.test(curPage)) {
		                    alert("请输入正整数！");
		                    return;
		                }
		                if (curPage > page) {
		                    alert("超出数据页面！");
		                    return;
		                }
		                direct = 0;
		                displayPage();
		            });
		        });

		        function displayPage() {
		            if (curPage <= 1 && direct == -1) {
		                direct = 0;
		                alert("已经是第一页了！");
		                return;
		            } else if (curPage >= page && direct == 1) {
		                direct = 0;
		                alert("已经是最后一页了！");
		                return;
		            }
		            lastPage = curPage;

		            // 修复当len=1时，curPage计算得0的bug
		            if (len > pageSize) {
		                curPage = ((curPage + direct + len) % len);
		            } else {
		                curPage = 1;
		            }
		            document.getElementById("btn0").innerHTML = curPage + "/" + page; // 显示当前多少页
		            begin = (curPage - 1) * pageSize + 1;// 起始记录号
		            end = begin + 1 * pageSize - 1;    // 末尾记录号
		            if (end > len) end = len;
		            $("#cks tr").hide();// 首先,设置这行为隐藏
		            $("#cks tr").each(function (i) {// 然后，通过条件判断决定本行是否恢复显示
		                if ((i >= begin && i <= end) || i == 0)//显示begin<=x<=end的记录
		                    $(this).show();
		            });
		        }
		    })
		    $(document).ready(function () {
		        //删除按钮
		        $('#delete').click(function () {
		            swal({
		                title: "你确定要删除吗?",
		                text: "删除是无法恢复数据的!",
		                type: "warning",
		                showCancelButton: true,
		                confirmButtonColor: "#DD6B55",
		                confirmButtonText: "确定!",
		                closeOnConfirm: false,
		                cancelButtonText: "取消"
		            }, function () {
		                var rows = document.getElementsByName("ck");
		                var parm = "";
		                $.each(rows, function (i, ck) {
		                    var value = $(ck);
		                    var checked = value.prop("checked");
		                    if (checked) {
		                        if (i == 0)
		                            parm += "id=" + value.parent().next().text(); //ck.parentNode.nextSibling.innerText;
		                        else
		                            parm += "&id=" + value.parent().next().text();
		                    }
		                });
		                if (parm == "") {
		                    swal("操作失败", "至少选择一个信息!", "error");
		                    return;
		                }
		                $.ajax({
		                    type: "post",
		                    url: '/Management/SalesManagementSalesOrderManagementDelete',//后台删除方法
		                    data: parm,
		                    dataType: "json",
		                    cache: false,
		                    success: function (data) {
		                        if (data.result == "success") {
		                            swal("操作成功!", "已成功删除数据！", "success");
		                            //$(".dataTables-example").dataTable().fnDraw(false);//删除当前页面
		                            window.location.reload();//删除当前页面
		                        }
		                    },
		                    error: function () {
		                        swal("操作失败", "下单客户不能删除操作!", "error");
		                    }
		                });
		            });
		        });
		    })
		    //全选复选框
		    function allCheck(obj) {
		        var ck = document.getElementsByName("ck");
		        for (var i = 0; i < ck.length; i++) {
		            ck[i].checked = obj.checked;
		        }
		    }
		    $(function () {
		        //日期控件
		        $("#date input").datepicker({
		            language: "zh-CN",

		        })
		        //查询订单信息
		        $("#Orderid").change(function () {
		            //获取选中的值
		            var check = $(this).val();
		            //判断
		            if (check != 0) {
		                $.ajax({
		                    url: "/Management/ordermangerByid",
		                    data: { orderid: check },
		                    dataType: 'json',
		                    success: function (data) {
		                        $("#productsname").val(data.productsname)
		                        $("#customername").val(data.customername)
		                        $("#Customersid").val(data.Customersid)
		                        $("#Sales_number").val(data.Sales_number)
		                        $("#SumPrice").val(data.SumPrice)
		                        $("#Amount_payable").val(data.Amount_payable)
		                        $("#ProductsId").val(data.ProductsId);
		                    }
		                })
		            } else {
                        alert('请选择订单');
		            }
		        })
		        //计算未付金额
		        $("#Real_pay").blur(function () {
		            //获取未付金额
		            var rprice = $(this).val();
		            //获取总金额
		            var sumprice = $("#SumPrice").val();
		            //计算未付金额
		            var nprice = sumprice - rprice;
		            $("#Unpaid_amount").val(nprice);
		        })
		        //查询销售单详细
		        $(".bianji").click(function () {
		            //获取销售单编号
		            var salesid = $(this).next().val();
		            $.ajax({
		                url: "/Management/SelectSalesByid",
		                data: { sid: salesid },
		                dataType: "json",
		                success: function (data) {
		                    $("#SalesId").val(data.SalesId)
		                    $("#Sales_date1").val(data.Sales_date1)
		                    $("#productname").val(data.productname)
		                    $("#customername2").val(data.customername2)
		                    $("#salecount").val(data.salecount)
		                    $("#price").val(data.price)
		                    $("#readonlyprice").val(data.readonlyprice)
		                    $("#orderid").val(data.orderid)
		                    $("#sumprice").val(data.sumprice)
		                    $("#amoutprice").val(data.amoutprice)
		                    $("#upprice").val(data.upprice)
		                    $("#handle").val(data.handle)
		                    $("#userid").val(data.userid)
		                    $("#userid").val(data.userid)
		                }
		            })
		        })
		    })
		</script>
	</head>
	<body>
		<div class="container-fluid">
			<div class="customer">
				<div class="customer-manager">
					<h3>销售单管理</h3>
				</div>
				<ul class="breadcrumb">
					<li>
						<a href="javascript:;">首页</a>
					</li>
					<li>
						<a href="javascript:;">销售管理</a>
					</li>
					<li class="active">销售单管理</li>
				</ul>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="card heads">
						<div class="card-header ">
							<h4>销售单管理</h4>
							<div class="card-toolbar clearfix ">
								<div class="toolbar-btn-action btnTwo">
									<a id="delete" class="btn btn-danger" href="#!"><i class="mdi mdi-window-close"></i> 删除</a>
									<a class="btn btn-primary m-r-5" data-toggle="modal" data-target="#myModa1" href="#!"><i class="mdi mdi-plus"></i> 新增</a>
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="froms">
								<form action="~/Management/SalesManagementSalesOrderManagementLike" role="form">
									<div class="form-group">
										<input type="text" class="form-control" name="tj" id="name" placeholder="请输入销售产品名">
									</div>
									<div class="form-group">
										<button type="submit" class="fa fa-search btn btn-primary">搜索</button>
									</div>
								</form>
							</div>
							<div class="table-responsive">
								<table id="cks" class="table table-bordered tables">
									<thead>
										<tr>
											<th><input type="checkbox" name="ck"></th>
											<th>销售单编号</th>
											<th>产品名称</th>
											<th>客户名称</th>
											<th>销售数量</th>
											<th>销售日期</th>
											<th>销售状态</th>
											<th>操作</th>
											
										</tr>
									</thead>
									<tbody>
										
                                        @foreach (var item in ViewBag.sales)
                                        {
                                            <tr>
											<td><input type="checkbox" name="ck"></td>
											<td>@item.SalesId</td>
											<td>@item.Products.Productsname</td>
											<td>@item.Customer.Customername</td>
											<td>@item.Sales_number</td>
											<td>@item.Sales_date</td>
											<td>@item.Salse_state</td>
											<td>
												<div class="btn-group">
													<button type="button" data-toggle="modal"  data-target="#myModa2"  class="btn btn-cyan bianji">查看</button>
                                                    <input type="hidden" value="@item.SalesId" />
												</div>
											</td>
										</tr>
                                        }
										
									</tbody>
								</table>
							 <div style="display:block;font-size:17px;">
                <div style="margin-left:10px;margin-top: 3px; float: left; ">
                    共 &nbsp;<a id="total" style="color:#337ab7;"></a> &nbsp;条数据,&nbsp;
                    每页显示 &nbsp;<a id="rowspage" style="color:#337ab7 ;"></a> &nbsp;条数据, &nbsp;
                    共 &nbsp;<a id="btn0" style="color:#337ab7;"></a>&nbsp;&nbsp;页 &nbsp;
                </div>
                    <a href="#" id="FirstPage">&nbsp;<img src="/images/上一页.png" /></a>
                    <a href="#" id="PreviousPage"> &nbsp;<img src="/images/上一页.png" /></a>
                    <a href="#" id="NextPage"> &nbsp;<img src="/images/下一页.png" /></a>
                    <a href="#" id="LastPage"> &nbsp;<img src="/images/尾页.png" /></a>
                    <a> &nbsp;第 </a>
                    <input id="changePage" type="text" size="1" style="text-align: center;" autocomplete="off"/>
                    <a>页 </a>
                    <a href="#" id="btn5"> &nbsp;GO</a>
               </div>

							</div>

						</div>
					</div>
				</div>

			</div>
<!--
        	作者：offline
        	时间：2019-05-16
        	描述：点击查看的
        -->
        <div class="modal fade" id="myModa1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content Contet">
			<div class="modal-header detail">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h3 class="modal-title" id="myModalLabel" style="text-align: center;">
					产品销售单
				</h3>
			</div>
			<div class="modal-body">
				<div class="look">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
			<div class="form">
				<form action="~/Management/SalesManagementSalesOrderManagementADD" method="post" class="form-horizontal" role="form">
								<div class="row">									
								<div class="col-lg-5 detail-left">
									
									<div class="form-group">
										<label for="inputPassword" class="col-lg-2 control-label">订单编号：</label>
										<div class="col-lg-10">
											@*<input class="form-control" id="ProductU" type="text" placeholder="请输入订单编号">*@
                                            <select class="form-control" id="Orderid" name="Orderid">
                                                <option value="0">---请选择---</option>
                                                @foreach (var item in ViewBag.order)
                                                {
                                                    <option value="@item.Orderid">@item.Products.Productsname</option>
                                                }
                                            </select>
										</div>
									</div>
									<div class="form-group">
										<label for="inputPassword" class="col-lg-2 control-label">产品名称：</label>
										<div class="col-lg-10">
											<input class="form-control" id="productsname" type="text" readonly="readonly" >
                                            @*产品id*@
                                            <input type="hidden" id="ProductsId" name="ProductsId" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-lg-2 control-label">客户名称：</label>
										<div class="col-lg-10">
											<input class="form-control" id="customername" type="text" readonly="readonly">
                                            @*客户编号*@
                                            <input type="hidden" id="Customersid" name="Customersid" />
										</div>
									</div>
									<div class="form-group">
										<label for="inputPassword" class="col-lg-2 control-label">销售数量：</label>
										<div class="col-lg-10">
											<input class="form-control" id="Sales_number" name="Sales_number" type="text" readonly="readonly">
										</div>
									</div>
									<div class="form-group">
										<label class="col-lg-2 control-label">销售日期：</label>
										<div class="col-lg-10">
										<div class="input-group lyear-layout-sidebar-scroll  datelength" id="date">
<input type="text" id="Sales_date" class="form-control" name="Sales_date" data-date-format="yyyy-mm-dd" />
</div>
										</div>
									</div>
									<div class="form-group">
										<label for="inputPassword" class="col-lg-2 control-label">总金额：</label>
										<div class="col-lg-10">
											<input class="form-control" id="SumPrice" name="SumPrice" type="text" readonly="readonly">
										</div>
									</div>
								</div>
								<div class="col-lg-7 detail-right">
<div class="form-group">
										<label class="col-lg-2 control-label">结算方式：</label>
										<div class="col-sm-10">
											<select class="form-control" id="Settlement_method" name="Settlement_method">
												<option value="0">汇款</option>
                                                <option value="1">现金</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label for="inputPassword" class="col-lg-2 control-label">应收金额：</label>
										<div class="col-lg-10">
											<input class="form-control" id="Amount_payable" name="Amount_payable" type="text" readonly="readonly">
										</div>
									</div>
									<div class="form-group">
										<label class="col-lg-2 control-label">实收金额：</label>
										<div class="col-lg-10">
											<input class="form-control" id="Real_pay" name="Real_pay" type="text" placeholder="请输入金额">
										</div>
									</div>
									<div class="form-group">
										<label for="inputPassword" class="col-lg-2 control-label">未收金额：</label>
										<div class="col-lg-10">
											<input class="form-control" id="Unpaid_amount" name="Unpaid_amount" type="text" readonly="readonly" >
										</div>
										
									</div>
									<div class="form-group">
										<label class="col-lg-2 control-label">销售状态：</label>
										<div class="col-lg-10">
											<input class="form-control" id="Salse_state" name="Salse_state" type="text" placeholder="请输入销售状态">
										</div>
									</div>
									<div class="form-group">
										<label for="inputPassword" class="col-lg-2 control-label">经手人：</label>
										<div class="col-lg-10">
											<input class="form-control" id="Handlers" name="Handlers" type="text" placeholder="请输入经手人">
										</div>
									</div>
									<div class="form-group">
										<label for="inputPassword" class="col-lg-2 control-label">操作员：</label>
										<div class="col-lg-10">
											<input type="text" class="form-control" id="" value="@Session["usrName"]" readonly="readonly">
        <input type="hidden" name="Usersid" value="@int.Parse(Session["uid"].ToString())" />
										</div>
									</div>
								</div>
								</div>
								<div class="row">
									  <div class="form-group btnGroups">
    <div class="col-sm-offset-2 col-sm-2">
      <button type="button" class="btn btn-default cancel">取消</button>
    </div>
    <div class="col-sm-offset-2 col-sm-2">
      <button type="submit" class="btn btn-primary">提交</button>
    </div>
  </div>
								</div>
							</form>

						</div>
				</div>
				</div>
		</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default closed" data-dismiss="modal">关闭
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div> 
		</div>
		
		<div class="modal fade" id="myModa2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content Contet">
			<div class="modal-header detail">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h3 class="modal-title" id="myModalLabel" style="text-align: center;">
				销售单详细
				</h3>
			</div>
			<div class="modal-body">
				<div class="look">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
			<div class="form">
				<form class="form-horizontal" role="form">
								<div class="row">									
								<div class="col-lg-5 detail-left">
									<div class="form-group">
										<label class="col-lg-2 control-label">销售编号：</label>
										<div class="col-lg-10">
											<input class="form-control" id="SalesId" type="text" readonly="readonly" >
										</div>
									</div>
									<div class="form-group">
										<label for="inputPassword" class="col-lg-2 control-label">销售日期：</label>
										<div class="col-lg-10">
											<input class="form-control" id="Sales_date1" type="text" readonly="readonly">
										</div>
									</div>
									<div class="form-group">
										<label for="inputPassword" class="col-lg-2 control-label">产品名称：</label>
										<div class="col-lg-10">
											<input class="form-control" id="productname" type="text" readonly="readonly">
										</div>
									</div>
									<div class="form-group">
										<label class="col-lg-2 control-label">客户名称：</label>
										<div class="col-lg-10">
											<input class="form-control" id="customername2" type="text" readonly="readonly">
										</div>
									</div>
									<div class="form-group">
										<label for="inputPassword" class="col-lg-2 control-label">销售数量：</label>
										<div class="col-lg-10">
											<input class="form-control" id="salecount" type="text" readonly="readonly">
										</div>
									</div>
									<div class="form-group">
										<label class="col-lg-2 control-label">产品单价：</label>
										<div class="col-lg-10">
											<input class="form-control" id="price" type="text" readonly="readonly">
										</div>
									</div>
									<div class="form-group">
										<label for="inputPassword" class="col-lg-2 control-label">实收金额：</label>
										<div class="col-lg-10">
											<input class="form-control" id="readonlyprice" type="text" readonly="readonly">
										</div>
									</div>
								</div>
								<div class="col-lg-7 detail-right">
									<div class="form-group">
										<label for="inputPassword" class="col-lg-2 control-label">订单编号：</label>
										<div class="col-lg-10">
											<input class="form-control" id="orderid" type="text" readonly="readonly">
										</div>
									</div>
									<div class="form-group">
										<label class="col-lg-2 control-label">销售金额：</label>
										<div class="col-lg-10">
											<input class="form-control" id="sumprice" type="text" readonly="readonly">
										</div>
									</div>
									<div class="form-group">
										<label for="inputPassword" class="col-lg-2 control-label">应收金额：</label>
										<div class="col-lg-10">
											<input class="form-control" id="amoutprice" type="text" readonly="readonly">
										</div>
										
									</div>
									<div class="form-group">
										<label class="col-lg-2 control-label">未收金额：</label>
										<div class="col-lg-10">
											<input class="form-control" id="upprice" type="text" readonly="readonly">
										</div>
									</div>
									<div class="form-group">
										<label for="inputPassword" class="col-lg-2 control-label">经手人：</label>
										<div class="col-lg-10">
											<input class="form-control" id="handle" type="text" readonly="readonly">
										</div>
									</div>
									<div class="form-group">
										<label for="inputPassword" class="col-lg-2 control-label">操作员：</label>
										<div class="col-lg-10">
											<input class="form-control" id="userid" type="text" readonly="readonly">
										</div>
									</div>
								</div>
								</div>
								<div class="row">
									  <div class="form-group btnGroups">
   @* <div class="col-sm-offset-2 col-sm-2">
      <button type="submit" class="btn btn-default cancel">重置</button>
    </div>
    <div class="col-sm-offset-2 col-sm-2">
      <button type="submit" class="btn btn-primary">提交</button>
    </div>
  </div>*@
								</div>
							</form>

						</div>
				</div>
				</div>
		</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default closed" data-dismiss="modal">关闭
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div> 
	</body>
</html>
